table {
    $lightGrey: #8f8d8d;
    border: 1px solid $lightGrey;
    width: 100%;
    
    .highlight{
      background: #42A948;
    }
    .highlight-error{
      background: #f44336;
    }

    tr:hover {
      background: $lightGrey;
    }

    mark{
      padding: 4px;
    }
  }