<form [formGroup]="formGroup" #formDirective="ngForm" >
  <div class="form" fxLayout="column" fxFlexAlign="stretch" fxLayoutGap="12px">
    <h2>{{isEditing? 'Edit' : 'New'}}</h2>
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <input matInput #description type="text" placeholder="Ex. Sushi..." formControlName="description" />
      <mat-hint align="start" *ngIf="hasError"><strong>Form is invalid!</strong> </mat-hint>
      <mat-hint align="end">{{description.value.length}} / 30</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput type="number" currency-mask class="example-right-align" formControlName="price" />
      <span matPrefix>$&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>

    <button [ngClass]="{'shakeit' : hasError}" mat-stroked-button color="accent" (click)="onFormCheckClik()" [disabled]="!this.formGroup.valid || hasError"><mat-icon>check</mat-icon></button>
  </div>
</form>